html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.betaling {
    width: 180px;
    height: 100px;
    
}


button {
    margin-top: 10px;
    overflow: hidden;
}

