@model Product

<tr>
    <td>@Model.Name</td>
    <td>@Model.Prijs</td>
    <td>
        <div class="text-lg-end">
        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Aanpassen</a>
        <a class="btn btn-danger" asp-action="Delete">Verwijderen</a>
        </div>
    </td>
</tr>