@model Product

<tr>
    <td>@Model.Name</td>
    <td>@Model.Prijs</td>
    <td>
        <a class="btn btn-success" asp-action="Edit">Edit</a>
        <a class="btn btn-success" asp-action="Delete">Delete</a>
    </td>
</tr>